:root {
  --main-color: #ED5785;
  --highlight-color: #5191E3;
}


html {
    font-size: 100%;
}

body {
    background: #eeeeee;
    color: var(--main-color);
    font-family: sans-serif;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    padding: 20px;
    line-height: 1.5;
}

.CompanyList {
    /*background: #DDEEFF;*/
}

h1 {
    font-weight: normal;
    font-size: 2rem;
    margin:0;
    padding: 0 10vw 40px 0;
}

.SearchBar {
    padding: 0 0 20px 0;
    font-size: 2rem;
}

input {
    font-size: 2rem;
    text-align: left;
    background: transparent;
    color: var(--main-color);
    border: none;
    border-bottom: 2px solid var(--main-color);
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder { 
   color: #E4ADB7;
}

.Company {
    text-align: left;
    /*background: #f5f5f5;*/
    padding: 0 0 20px 0;
}



a {
    color: var(--main-color);
    transition: transform .3s ease, color .2s ease;
}

a:hover{
	cursor: pointer;
	color: var(--highlight-color);
	transition: transform .3s ease, color .2s ease;
}

.Company a{
	    text-decoration: none;
}

.Company a:hover {
    transform-origin: 0% 50%;
    transform: scale(1.8);
}

